<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094221928216-va9fj2abidrgd5mks47b0mtiftdc122q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094221928216-va9fj2abidrgd5mks47b0mtiftdc122q</string>
	<key>API_KEY</key>
	<string>AIzaSyBcu3F1KgxWdUk6P5JMCc9gFx2A2LfZQ4s</string>
	<key>GCM_SENDER_ID</key>
	<string>1094221928216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moves.com</string>
	<key>PROJECT_ID</key>
	<string>app-moves</string>
	<key>STORAGE_BUCKET</key>
	<string>app-moves.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094221928216:ios:b2416f48b351a49a7af06d</string>
	<key>DATABASE_URL</key>
	<string>https://app-moves-default-rtdb.firebaseio.com</string>
</dict>
</plist>